<section id="clerkDashboard">
    <h1>Welcome {{user.name}}</h1>
	<p>Your email is {{user.email}}</p>
	<p>Role: {{user.role}}</p>
	<h2>Here's what we have in the inventory</h2>

   

    <form method="POST" action="/dashboard">
        <label>Search By</label>
        <select name="category">
                <option selected value="all">All</option>
                <option name="Women's Fashion" value="Women's Fashion">Women's Fashion</option>
                <option name="Beauty" value="Beauty">Beauty</option>
                <option name="Jewellery" value="Jewellery">Jewellery</option>
                <option name="Watches" value="Watches">Watches</option>
        </select>
        <input type="submit" value="Search">
     </form> <br><br>

	<table border="1" style="text-align: center;">
        <thead>
				<th>ID</th>
                <th>Category</th>
				<th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Bestseller</th>
                 <th>Photo</th>
                 <th>Quantity</th>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
					 <td>
                        <span>{{this.id}}</span>
                   </td>
                   <td>
                        <span>{{this.category}}</span>
                   </td>
                   <td>
                       <span>{{this.name}}</span>
                   </td>
				   <td>
                        <span>{{this.description}}</span>
                   </td>
                   <td>
                        <span>{{this.price}}</span>
                   </td>
                   <td>
                       <span>{{this.bestseller}}</span>
                   </td>
                   
				   <td>
                      <img src="/img/{{this.thumb}}" width="30px" height="30px">
                   </td>
                   <td>
                       <span>{{this.quantity}}</span>
                   </td>
                   <td>
                        <a href="/products/edit/{{this.id}}" class="edit-delete-button">Edit</a>
                        <a href="/products/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>

                {{else}}
                    <td colspan="5">
                        <p>No products in the database</p>
                    </td>

                {{/each}}
    </tbody>
    </table>

     <button type="button" style="align:center"><a href="/products/add">Add Product</a></button>
</section>