<section id="products-edit">

    <form method="POST" action="/products/edit/{{_id}}?method=PUT" enctype="multipart/form-data">
     <h2> Edit {{name}} </h2>
        <p>
            <label class="floatLabel">Name</label>
            <input type="text" name="name" id="name" value={{name}}>
        </p>
        <p>
            <label class="floatLabel">Description</label>
            <input type="text" id="description" name="description" value={{description}}>
        </p>
        <p>
            <label class="floatLabel">Category</label><br>
            <select name="category">
                <option value="Women's Fashion">Women's Fashion</option>
                <option value="Beauty">Beauty</option>
                <option value="Jewellery">Jewellery</option>
                <option value="Watches">Watches</option>
            </select>
        </p>
        <p>
            <label class="floatLabel">Price</label>
            <input type="text" name="price" id="price" value={{price}}>
        </p>
        <p>
            <label class="floatLabel">Quantity</label>
            <input type="text" name="quantity" id="quantity" value={{quantity}}>
        </p>
        <p>
             <label class="floatLabel">Bestseller</label><br>
            <select name="bestseller">
                <option value="true">Yes</option>
                <option selected value="false">No</option>
            </select>
        </p>
        <p>
            <label class="floatLabel">Photo</label><br>
            <input type="file" name="productPic" id="productPic" required>
        </p>
        <p>
            <input type="submit" value="Edit Product">
        </p>

    </form>

</section>

